[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


#enterFormula {
  border: 1px solid #282c34;  
  padding:5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#enterFormula input[type=text].valid {
  background: #25de25;
}

#enterFormula input[type=text].not-valid {
  background: #de2525;
}

#enterFormula input[type=submit] {
  width:100%; 
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tableau {  
  font-size: 120%;
  width: 100%;
  height: 1024px;
  margin:0;  
}

.tableau canvas {
  position: absolute;
  left:0; top:0;
  z-index: -5;
}

.node {
  padding:5px;
  border: 1px solid gray;
  display: inline;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  background:white;
}

.node.over {
  background:gray;
}

.goal {
  background:white;
  display: inline;
  cursor: grab;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid #20a0ff;
}

.goal-closed {
  background:#a5ffa5;
  display: inline;
  cursor: none;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid #aaa0aa;
}

.goal span {
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}

.goal span.over-ok {
  background:#25de25;
}
.goal span.over-err {
  background:#de2525;
}


/***********************/
.react-contextmenu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  color: #373a3c;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #373a3c;
cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0,0,0,.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}